{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{listing.title}}</h2>
    <p> {{listing.description}}</p>
    <p> Starting Bid : {{listing.starting_bid}} </p>
    <p> Current Price : {{listing.current_price}} </p>
    <p> Category : {{listing.category}}</p>
    {% if listing.image_url%}
        <img src="{{listing.image_url}}" alt="{{listing.title}}">
    {% endif %}
    <p>Created By : {{listing.creator.username}} on {{ listing.created_at }}</p>
    <h3>Bids</h3>
    {% if bids%}
        <ul>
            {% for bid in bids%}
                <li>{{bid.bidder.username}} : {{bid.bid_amount}}at {{bid.bid_time}} </li>
            {% endfor %}
        </ul>
    {%else%}
        <p>No bids yet.</p>
           
    {% endif %}
    <form action="{% url 'place_bid' listing.id %}" method="POST">
        {% csrf_token %}
        {{ bidform.as_p }}
        <button type="submit">Place Bid</button>
    </form>
    <h3>Comments</h3>    
    {% if comments %}
        <ul>
            {% for comment in comments%}
                <li>{{comment.commenter.username}} : {{comment.comment_text}}. Time: {{comment.comment_time}} </li>
            {% endfor %}
        </ul>
    {%else%}
        <p>No Comments yet.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <form action="{% url 'add_comment' listing.id %}" method="POST">
        {% csrf_token %}
        {{ commentform.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}
    {% if request.user == listing.creator %}
    <form action="{% url 'close_auction' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Close Auction">
    </form>
    {% endif %}
    {% if user.is_authenticated %}
        {% if in_watchlist %}
        <form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove Watchlist">
        </form>
        {% else %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add to Watchlist">
            </form>
        {% endif %}
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to add this listing to your watchlist</p>
    {% endif %}

{% endblock %}
